@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffffff;
  --secondary: #000000;
  --accent: #626567;
}

[color-scheme='dark'] {
  --primary: #000000;
  --secondary: #ffffff;
  --accent: #7b7d7d;
}

html {
  scroll-behavior: smooth;
}

* {
  transition: 0.3s;
}

body {
  background-color: var(--primary);
}
